* {
    margin: 0;
    padding-bottom: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}




header h1 {
    text-align: center;
    color: deeppink;
}

.chat-container {
    margin: 2rem;
    background-color: pink;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid deeppink;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    min-height: 15lh;
}

p span {
    font-weight: bolder;
    font-style: italic;
}

#form {
    background-color: pink;
    color: white;
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    height: 65%;
    border: none;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0 0.5rem;
    padding: 0 1rem;

}

#input:focus {
    outline: none;
}

#form > button {
    height: 65%;
    color: white;
    background: hotpink;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages > li {
    padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
    background-color: #ffeeee;
}

#messages > li:nth-child(even) {
    background-color: #ffffff;
}